src/jade/index.jade
doctype html
html(lang="ru" prefix="og: http://ogp.me/ns#")
	head
		meta(name="charset" content="utf-8")
		meta(name="X-UA-Compatible" content="IE=edge")
		meta(name="keywords" content="")
		meta(name="description" content="Wella Podium Salon")
		meta(name="theme-color" content="#191919")

		meta(name="apple-mobile-web-app-title" content="Wella Podium Salon: мы создадим именно то, что Вам нравится")
		meta(name="apple-mobile-web-app-capable" content="yes")
		meta(name="apple-touch-fullscreen" content="yes")
		meta(name="apple-mobile-web-app-status-bar-style" content="#191919")
		meta(name="format-detection" content="telephone=yes")

		meta(name="og:title" content="Wella Podium Salon")
		meta(name="og:description" content="Красота - это просто! Мы создадим именно то, что Вам нравится")
		meta(name="og:image" content="img/logo.png")

		meta(property="place:location:latitude" content="60.004244")
		meta(property="place:location:longitude" content="30.295135")
		meta(property="business:contact_data:locality" content="г. Санкт-Петербург, Коломяжский пр-т, 26")
		meta(property="business:contact_data:country_name" content="Россия")
		meta(property="business:contact_data:email" content="infosalon@yandex.ru")
		meta(property="business:contact_data:phone_number" content="8 (812) 300-31-30")
		meta(property="business:contact_data:website" content="http://")

		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="HandheldFriendly" content="True")
		meta(name="MobileOptimized" content="320")

		title Wella Podium Salon: мы создадим именно то, что Вам нравится
		link(rel="stylesheet" href="css/bundle.min.css" media="all")
		link(rel="shortcut icon" href="favicon.ico")


	body

		aside.mobile(aria-hidden="true")
			nav.mobile__menu
				ul.mobile__menu-list
					li.mobile__menu-item
						a.mobile__menu-link.js-scroll(href="#intro") Главная
					li.mobile__menu-item
						a.mobile__menu-link.js-scroll(href="#services") Наши услуги
					li.mobile__menu-item
						a.mobile__menu-link.js-scroll(href="#clients") Отзывы
					li.mobile__menu-item
						a.mobile__menu-link.js-scroll(href="#team") Наши мастера

			.header__callback.header__callback--mobile
				a.header__callback-phone(href="tel:89697062878") 8 (969) 706-28-78
					i.icon.icon-call
				a.header__callback-btn.js-popup(href="#callback" role="button") Заказать обратный звонок

		.modal.modal--thanks.mfp-hide#thanks
			p.modal__title спасибо за заявку. Мы свяжемся с Вами в ближайшее время!

		.modal.modal--callback.mfp-hide#callback
			p.modal__title заполните форму,<br>и наш специалист свяжется с вами

			form(action="#" method="POST")
				label.modal__input(for="name")
					i.icon.icon-input-name
					input#name(type="text" name="contact" placeholder="Как к Вам обращаться?")
				label.modal__input(for="phone")
					i.icon.icon-input-phone
					input#phone(type="tel" name="phone" placeholder="Куда нам перезвонить?" required)
				input.btn(type="submit" value="заказать обратный звонок")

		.modal.modal--consult.mfp-hide#consult
			p.modal__title заполните форму,<br>и наш специалист свяжется с вами

			form(action="#" method="POST")
				label.modal__input(for="name")
					i.icon.icon-input-name
					input#name(type="text" name="contact" placeholder="Как к Вам обращаться?")
				label.modal__input(for="phone")
					i.icon.icon-input-phone
					input#phone(type="tel" name="phone" placeholder="Куда нам перезвонить?" required)
				input.btn(type="submit" value="получить консультацию")

			p.modal__subtitle или позвоните нам: 
				a.modal__subtitle-link(href="tel:89697062878") 8 (969) 706-28-78

		.modal.mfp-hide#service
			p.modal__title заполните форму,<br>и наш специалист свяжется с вами

			form(action="#" method="POST")
				label.modal__input(for="name")
					i.icon.icon-input-name
					input#name(type="text" name="contact" placeholder="Как к Вам обращаться?")
				label.modal__input(for="phone")
					i.icon.icon-input-phone
					input#phone(type="tel" name="phone" placeholder="Куда нам перезвонить?" required)
				input.btn(type="submit" value="записаться на услугу")

			p.modal__subtitle или позвоните нам: 
				a.modal__subtitle-link(href="tel:89697062878") 8 (969) 706-28-78

		.modal.mfp-hide#salon
			p.modal__title заполните форму,<br>и наш специалист свяжется с вами

			form(action="#" method="POST")
				label.modal__input(for="name")
					i.icon.icon-input-name
					input#name(type="text" name="contact" placeholder="Как к Вам обращаться?")
				label.modal__input(for="phone")
					i.icon.icon-input-phone
					input#phone(type="tel" name="phone" placeholder="Куда нам перезвонить?" required)
				input.btn(type="submit" value="записаться в салон")

			p.modal__subtitle или позвоните нам: 
				a.modal__subtitle-link(href="tel:89697062878") 8 (969) 706-28-78


		header.header
			a.header__logo.js-scroll(href="#intro" rel="nofollow")
				img.header__logo-img(src="img/logo.png" alt="Wella Podium Salon")

			nav.header__menu
				ul.header__menu-list
					li.header__menu-item
						a.header__menu-link.js-scroll(href="#intro") Главная
					li.header__menu-item
						a.header__menu-link.js-scroll(href="#services") Наши услуги
					li.header__menu-item
						a.header__menu-link.js-scroll(href="#clients") Отзывы
					li.header__menu-item
						a.header__menu-link.js-scroll(href="#team") Наши мастера

			span.header__burger.js-menu
				span.header__burger-line
				span.header__burger-line
				span.header__burger-line

			.header__callback
				a.header__callback-phone(href="tel:89697062878") 8 (969) 706-28-78
					i.icon.icon-call
				a.header__callback-btn.js-popup(href="#callback" role="button") Заказать обратный звонок

		section.intro.block#intro
			h1.intro__title Wella Podium Salon 
				span.intro__title-text мы профессионалы, которые знают один секрет: <br>Красота – это просто!

			h2.intro__subtitle Мы создадим именно то, <br>что вам понравится

			ul.intro__advantages
				li.intro__advantages-item
					.intro__advantages-img
						i.icon.icon-beauty
					strong.intro__advantages-text делаем красивыми волосы, <br>ногти, лицо и тело
				li.intro__advantages-item
					.intro__advantages-img
						i.icon.icon-original
					strong.intro__advantages-text используем оригинальную <br>косметику проверенных брендов
				li.intro__advantages-item
					.intro__advantages-img
						i.icon.icon-presents
					strong.intro__advantages-text дарим подарки <br>постоянным клиентам

			.intro__cta
				p.intro__cta-text Пока вы смотрите эту страницу, кто-то уже сделал свой выбор
				p.intro__cta-services Узнайте подробнее о наших услугах
				a.intro__cta-btn.btn.btn--outline.js-popup(href="#consult" role="button") Получить консультацию

		section.block.services#services
			h3.block__title.services__title Услуги, которые мы оказываем

			ul.services__list
				li.services__list-item
					img.services__list-item_img(src="img/service-1.png" alt="Стрижки, окрашивание")
					article.services__list-item_content
						h4.services__list-item_title Стрижки, окрашивание
						p.services__list-item_text Стильная прическа и <br>красивый цвет с помощью <br>наших Wella Podium Master <br>и Wella Color Expert
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться
				li.services__list-item
					img.services__list-item_img(src="img/service-2.png" alt="Ногтевой сервис")
					article.services__list-item_content
						h4.services__list-item_title Ногтевой сервис
						p.services__list-item_text Маникюр для женщины – <br>реклама, педикюр – <br>приятный сюрприз. <br>Не лишайте радости <br>себя и других
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться
				li.services__list-item
					img.services__list-item_img(src="img/service-3.png" alt="Микроисследование и лечение волос")
					article.services__list-item_content
						h4.services__list-item_title Уход за волосами
						p.services__list-item_text Много волос на расческе? <br>Проводим исследование, <br>применяем программу NIOXIN и волосы<br> действительно растут!
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться
				li.services__list-item
					img.services__list-item_img(src="img/service-4.png" alt="Эстетика лица и тела")
					article.services__list-item_content
						h4.services__list-item_title Эстетика лица и тела
						p.services__list-item_text Когда вы у косметолога, <br>часы идут в обратную <br>сторону. Вас обслужат <br>специалисты с высшим <br>медицинским образованием
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться
				//- li.services__list-item
					img.services__list-item_img(src="img/service-5.png" alt="Медицинский массаж")
					article.services__list-item_content
						h4.services__list-item_title Медицинский массаж
						p.services__list-item_text Боли в спине, мышечные <br>спазмы, невралгии… <br>Удивительно, но все <br>это лечится руками. <br>И это не чудо, это <br>знания, помноженные <br>на тяжелый труд
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться
				li.services__list-item
					img.services__list-item_img(src="img/service-6.png" alt="Профессиональный визаж")
					article.services__list-item_content
						h4.services__list-item_title Профессиональный визаж
						p.services__list-item_text Чтобы великолепно <br>выглядеть, <br>необязательно <br>быть молодой <br>и красивой
						a.services__list-item_btn.js-popup(href="#service" role="button") записаться

		section.block.block--pattern.videos#videos
			h3.block__title.videos__title Посмотрите видео о том, как мы работаем

			nav.videos__list(role="list")
				a.videos__list-item.js-video(href="https://www.youtube.com/watch?v=mk-Yw1kYrZY" role="listitem")
					img.videos__list-item_img(src="img/video-1.jpg" alt="Видео - ботокс для волос")
					i.icon.icon-play
					strong.videos__list-item_title Ботокс для волос
				a.videos__list-item.js-video(href="https://www.youtube.com/watch?v=Y4qp8UwVw_4" role="listitem")
					img.videos__list-item_img(src="img/video-2.jpg" alt="Видео - премиальное окрашивание")
					i.icon.icon-play
					strong.videos__list-item_title Премиальное окрашивание

			p.videos__more больше видео смотрите на нашем ютуб-канале
				a.videos__more-link.icon.icon-youtube(href="https://www.youtube.com/channel/UCWr1WSrIKlJiB2bz2RmGXfA" target="_blank")

		section.block.clients#clients
			h3.block__title.clients__title Почитайте отзывы тех, кто уже обратился к нам

			.clients__list.glide.js-clients-slider
				.glide__wrapper
					ul.glide__track
						li.glide__slide.clients__slide
							.clients__list-item
								img.clients__list-item_img(src="img/client-1.png" alt="Отзыв")
								article.clients__list-item_content
									h4.clients__list-item_name Akniria
									blockquote.clients__list-item_text “Уже 10лет хожу на педикюр <br>к Татьяне! Не сравнить с <br>другими мастерами! <br>Последние три года езжу <br>к ней из пригорода, потому <br>как лучше мастера <br>для меня нет”
							.clients__list-item
								img.clients__list-item_img(src="img/client-2.png" alt="Отзыв")
								article.clients__list-item_content
									h4.clients__list-item_name Виктория
									blockquote.clients__list-item_text “Очень качественный <br>салон! Мастера <br>профессионалы своего дела, <br>особенно нравится <br>мастер маникюра и <br>педикюра Оксана и <br>косметолог Наталья!”
							.clients__list-item
								img.clients__list-item_img(src="img/client-3.png" alt="Отзыв")
								article.clients__list-item_content
									h4.clients__list-item_name Александра
									blockquote.clients__list-item_text “Наташа и Стас – мастера <br>с юмором, 3 часа <br>пролетели весело <br>и быстро!!!”
						li.glide__slide.clients__slide
							.clients__list-item
								img.clients__list-item_img(src="img/client-4.png" alt="Отзыв")
								article.clients__list-item_content
									h4.clients__list-item_name Алина
									blockquote.clients__list-item_text “Конфетки вкусные, <br>кофе не очень, <br>Сережа просто <br>гений окраски”
							.clients__list-item
								img.clients__list-item_img(src="img/client-5.png" alt="Отзыв")
								article.clients__list-item_content
									h4.clients__list-item_name Daneel
									blockquote.clients__list-item_text “Пока случайно не <br>попал к Косте, не <br>верил что такое бывает. <br>Массажист от бога !”

				.glide__bullets

		.block.block--pattern.team#team
			h3.block__title.team__title У нас работают только <br>профессионалы своего дела!

			ul.team__list
				li.team__list-member
					img.team__list-member_img(src="img/team-1.png" alt="Смирнов Стас")
					h5.team__list-member_name Смирнов Стас
					p.team__list-member_text стилист Wella - мастер <br>цвета, прически, стрижки и <br>укладки 
				li.team__list-member
					img.team__list-member_img(src="img/team-2.png" alt="Стальченко Кристина")
					h5.team__list-member_name Стальченко Кристина 
					p.team__list-member_text Wella Podium <br>Master - стрижки, <br>окрашивания
				li.team__list-member
					img.team__list-member_img(src="img/team-3.png" alt="Бережной Евгений")
					h5.team__list-member_name Бережной Евгений
					p.team__list-member_text Wella Podium <br>Master - прически, <br>локоны, окрашивания 
				li.team__list-member
					img.team__list-member_img(src="img/team-4.png" alt="Белоусова Наталья")
					h5.team__list-member_name Белоусова Наталья
					p.team__list-member_text косметолог-эстетист <br>4-го разряда 
				li.team__list-member
					img.team__list-member_img(src="img/team-5.png" alt="Николаева Наталья")
					h5.team__list-member_name Николаева Наталья
					p.team__list-member_text Wella Мастер цвета, <br>консультант по <br>лечению волос 
				li.team__list-member
					img.team__list-member_img(src="img/team-6.png" alt="Собанчиева Оксана")
					h5.team__list-member_name Сабанчиева Оксана
					p.team__list-member_text сертифицированный <br>специалист ногтевого <br>сервиса Оле Хаус

			p.team__text Три вещи никогда не возвращаются обратно - время, возможность и слово. Поэтому... <br>Не теряйте времени, не упускайте возможность, все будет хорошо... Даем слово!

			a.team__btn.btn.js-popup(href="#salon") Записаться в салон

		.block.director#director
			h3.block__title.director__title Лично от руководителя <br>салона красоты "Ренессанс"

			.director__block
				img.director__block-photo(src="img/team-director.png" alt="Директор салона красоты 'Ренессанс'")
				.director__block-text
					blockquote.director__block-text_cite Наше кредо: клиент не должен потратить много, <br>он должен приходить часто. <br>С предложениями и претензиями Вы можете <br>обратиться напрямую  ко мне, буду рад оказаться <br>полезным для Вас
					p.director__block-text_phone Контактный телефон: 
						a.director__block-text_link(href="tel:89117323978") 8 (911) 732 39 78
					p.director__block-text_name Алексеев Василий

		.contacts#contacts
			.contacts__map#contacts-map

			.contacts__content
				.contacts__inner
					h3.contacts__title Ждем вас в гости!
						span.contacts__title-text как нас найти:

					address.contacts__address
						i.icon.icon-location
						| г. Санкт-Петербург, Коломяжский пр-т, 26

					nav.contacts__links
						a.contacts__links-phone(href="tel:89697062878")
							i.icon.icon-phone
							| 8 (969) 706-28-78
						a.contacts__links-email(href="mailto:inforsalon@yandex.ru")
							i.icon.icon-email
							| inforsalon@yandex.ru

					.contacts__socials
						p.contacts__socials-text Следите за нами в социальных сетях:
						nav.contacts__socials-links
							a.contacts__socials-item.contacts__socials-vk(href="http://vk.com/rsalon" target="_blank")
							a.contacts__socials-item.contacts__socials-instagram(href="https://www.instagram.com/renaissance_podium_salon_spb/" target="_blank")

		script(src="js/jquery-1.12.4.min.js")
		script(src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;lang=ru-RU" defer)
		script(src="js/bundle.min.js")
		script.
			(function (d, w, c) { 
			(w[c] = w[c] || []).push(function() { 
			try { 
			w.yaCounter41764544 = new Ya.Metrika({ 
			id:41764544, 
			clickmap:true, 
			trackLinks:true, 
			accurateTrackBounce:true, 
			webvisor:true 
			}); 
			} catch(e) { } 
			}); 

			var n = d.getElementsByTagName("script")[0], 
			s = d.createElement("script"), 
			f = function () { n.parentNode.insertBefore(s, n); }; 
			s.type = "text/javascript"; 
			s.async = true; 
			s.src = "https://mc.yandex.ru/metrika/watch.js"; 

			if (w.opera == "[object Opera]") { 
			d.addEventListener("DOMContentLoaded", f, false); 
			} else { f(); } 
			})(document, window, "yandex_metrika_callbacks");

build/index.html
<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
  <head>
    <meta name="charset" content="utf-8">
    <meta name="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="description" content="Wella Podium Salon">
    <meta name="theme-color" content="#191919">
    <meta name="apple-mobile-web-app-title" content="Wella Podium Salon: мы создадим именно то, что Вам нравится">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#191919">
    <meta name="format-detection" content="telephone=yes">
    <meta name="og:title" content="Wella Podium Salon">
    <meta name="og:description" content="Красота - это просто! Мы создадим именно то, что Вам нравится">
    <meta name="og:image" content="img/logo.png">
    <meta property="place:location:latitude" content="60.004244">
    <meta property="place:location:longitude" content="30.295135">
    <meta property="business:contact_data:locality" content="г. Санкт-Петербург, Коломяжский пр-т, 26">
    <meta property="business:contact_data:country_name" content="Россия">
    <meta property="business:contact_data:email" content="infosalon@yandex.ru">
    <meta property="business:contact_data:phone_number" content="8 (812) 300-31-30">
    <meta property="business:contact_data:website" content="http://">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <title>Wella Podium Salon: мы создадим именно то, что Вам нравится</title>
    <link rel="stylesheet" href="css/bundle.min.css" media="all">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <aside aria-hidden="true" class="mobile">
      <nav class="mobile__menu">
        <ul class="mobile__menu-list">
          <li class="mobile__menu-item"><a href="#intro" class="mobile__menu-link js-scroll">Главная</a></li>
          <li class="mobile__menu-item"><a href="#services" class="mobile__menu-link js-scroll">Наши услуги</a></li>
          <li class="mobile__menu-item"><a href="#clients" class="mobile__menu-link js-scroll">Отзывы</a></li>
          <li class="mobile__menu-item"><a href="#team" class="mobile__menu-link js-scroll">Наши мастера</a></li>
        </ul>
      </nav>
      <div class="header__callback header__callback--mobile"><a href="tel:89697062878" class="header__callback-phone">8 (969) 706-28-78<i class="icon icon-call"></i></a><a href="#callback" role="button" class="header__callback-btn js-popup">Заказать обратный звонок</a></div>
    </aside>
    <div id="thanks" class="modal modal--thanks mfp-hide">
      <p class="modal__title">спасибо за заявку. Мы свяжемся с Вами в ближайшее время!</p>
    </div>
    <div id="callback" class="modal modal--callback mfp-hide">
      <p class="modal__title">заполните форму,<br>и наш специалист свяжется с вами</p>
      <form action="#" method="POST">
        <label for="name" class="modal__input"><i class="icon icon-input-name"></i>
          <input id="name" type="text" name="contact" placeholder="Как к Вам обращаться?">
        </label>
        <label for="phone" class="modal__input"><i class="icon icon-input-phone"></i>
          <input id="phone" type="tel" name="phone" placeholder="Куда нам перезвонить?" required>
        </label>
        <input type="submit" value="заказать обратный звонок" class="btn">
      </form>
    </div>
    <div id="consult" class="modal modal--consult mfp-hide">
      <p class="modal__title">заполните форму,<br>и наш специалист свяжется с вами</p>
      <form action="#" method="POST">
        <label for="name" class="modal__input"><i class="icon icon-input-name"></i>
          <input id="name" type="text" name="contact" placeholder="Как к Вам обращаться?">
        </label>
        <label for="phone" class="modal__input"><i class="icon icon-input-phone"></i>
          <input id="phone" type="tel" name="phone" placeholder="Куда нам перезвонить?" required>
        </label>
        <input type="submit" value="получить консультацию" class="btn">
      </form>
      <p class="modal__subtitle">или позвоните нам: <a href="tel:89697062878" class="modal__subtitle-link">8 (969) 706-28-78</a></p>
    </div>
    <div id="service" class="modal mfp-hide">
      <p class="modal__title">заполните форму,<br>и наш специалист свяжется с вами</p>
      <form action="#" method="POST">
        <label for="name" class="modal__input"><i class="icon icon-input-name"></i>
          <input id="name" type="text" name="contact" placeholder="Как к Вам обращаться?">
        </label>
        <label for="phone" class="modal__input"><i class="icon icon-input-phone"></i>
          <input id="phone" type="tel" name="phone" placeholder="Куда нам перезвонить?" required>
        </label>
        <input type="submit" value="записаться на услугу" class="btn">
      </form>
      <p class="modal__subtitle">или позвоните нам: <a href="tel:89697062878" class="modal__subtitle-link">8 (969) 706-28-78</a></p>
    </div>
    <div id="salon" class="modal mfp-hide">
      <p class="modal__title">заполните форму,<br>и наш специалист свяжется с вами</p>
      <form action="#" method="POST">
        <label for="name" class="modal__input"><i class="icon icon-input-name"></i>
          <input id="name" type="text" name="contact" placeholder="Как к Вам обращаться?">
        </label>
        <label for="phone" class="modal__input"><i class="icon icon-input-phone"></i>
          <input id="phone" type="tel" name="phone" placeholder="Куда нам перезвонить?" required>
        </label>
        <input type="submit" value="записаться в салон" class="btn">
      </form>
      <p class="modal__subtitle">или позвоните нам: <a href="tel:89697062878" class="modal__subtitle-link">8 (969) 706-28-78</a></p>
    </div>
    <header class="header"><a href="#intro" rel="nofollow" class="header__logo js-scroll"><img src="img/logo.png" alt="Wella Podium Salon" class="header__logo-img"></a>
      <nav class="header__menu">
        <ul class="header__menu-list">
          <li class="header__menu-item"><a href="#intro" class="header__menu-link js-scroll">Главная</a></li>
          <li class="header__menu-item"><a href="#services" class="header__menu-link js-scroll">Наши услуги</a></li>
          <li class="header__menu-item"><a href="#clients" class="header__menu-link js-scroll">Отзывы</a></li>
          <li class="header__menu-item"><a href="#team" class="header__menu-link js-scroll">Наши мастера</a></li>
        </ul>
      </nav><span class="header__burger js-menu"><span class="header__burger-line"></span><span class="header__burger-line"></span><span class="header__burger-line"></span></span>
      <div class="header__callback"><a href="tel:89697062878" class="header__callback-phone">8 (969) 706-28-78<i class="icon icon-call"></i></a><a href="#callback" role="button" class="header__callback-btn js-popup">Заказать обратный звонок</a></div>
    </header>
    <section id="intro" class="intro block">
      <h1 class="intro__title">Wella Podium Salon <span class="intro__title-text">мы профессионалы, которые знают один секрет: <br>Красота – это просто!</span></h1>
      <h2 class="intro__subtitle">Мы создадим именно то, <br>что вам понравится</h2>
      <ul class="intro__advantages">
        <li class="intro__advantages-item">
          <div class="intro__advantages-img"><i class="icon icon-beauty"></i></div><strong class="intro__advantages-text">делаем красивыми волосы, <br>ногти, лицо и тело</strong>
        </li>
        <li class="intro__advantages-item">
          <div class="intro__advantages-img"><i class="icon icon-original"></i></div><strong class="intro__advantages-text">используем оригинальную <br>косметику проверенных брендов</strong>
        </li>
        <li class="intro__advantages-item">
          <div class="intro__advantages-img"><i class="icon icon-presents"></i></div><strong class="intro__advantages-text">дарим подарки <br>постоянным клиентам</strong>
        </li>
      </ul>
      <div class="intro__cta">
        <p class="intro__cta-text">Пока вы смотрите эту страницу, кто-то уже сделал свой выбор</p>
        <p class="intro__cta-services">Узнайте подробнее о наших услугах</p><a href="#consult" role="button" class="intro__cta-btn btn btn--outline js-popup">Получить консультацию</a>
      </div>
    </section>
    <section id="services" class="block services">
      <h3 class="block__title services__title">Услуги, которые мы оказываем</h3>
      <ul class="services__list">
        <li class="services__list-item"><img src="img/service-1.png" alt="Стрижки, окрашивание" class="services__list-item_img">
          <article class="services__list-item_content">
            <h4 class="services__list-item_title">Стрижки, окрашивание</h4>
            <p class="services__list-item_text">Стильная прическа и <br>красивый цвет с помощью <br>наших Wella Podium Master <br>и Wella Color Expert</p><a href="#service" role="button" class="services__list-item_btn js-popup">записаться</a>
          </article>
        </li>
        <li class="services__list-item"><img src="img/service-2.png" alt="Ногтевой сервис" class="services__list-item_img">
          <article class="services__list-item_content">
            <h4 class="services__list-item_title">Ногтевой сервис</h4>
            <p class="services__list-item_text">Маникюр для женщины – <br>реклама, педикюр – <br>приятный сюрприз. <br>Не лишайте радости <br>себя и других</p><a href="#service" role="button" class="services__list-item_btn js-popup">записаться</a>
          </article>
        </li>
        <li class="services__list-item"><img src="img/service-3.png" alt="Микроисследование и лечение волос" class="services__list-item_img">
          <article class="services__list-item_content">
            <h4 class="services__list-item_title">Уход за волосами</h4>
            <p class="services__list-item_text">Много волос на расческе? <br>Проводим исследование, <br>применяем программу NIOXIN и волосы<br> действительно растут!</p><a href="#service" role="button" class="services__list-item_btn js-popup">записаться</a>
          </article>
        </li>
        <li class="services__list-item"><img src="img/service-4.png" alt="Эстетика лица и тела" class="services__list-item_img">
          <article class="services__list-item_content">
            <h4 class="services__list-item_title">Эстетика лица и тела</h4>
            <p class="services__list-item_text">Когда вы у косметолога, <br>часы идут в обратную <br>сторону. Вас обслужат <br>специалисты с высшим <br>медицинским образованием</p><a href="#service" role="button" class="services__list-item_btn js-popup">записаться</a>
          </article>
        </li>
        <li class="services__list-item"><img src="img/service-6.png" alt="Профессиональный визаж" class="services__list-item_img">
          <article class="services__list-item_content">
            <h4 class="services__list-item_title">Профессиональный визаж</h4>
            <p class="services__list-item_text">Чтобы великолепно <br>выглядеть, <br>необязательно <br>быть молодой <br>и красивой</p><a href="#service" role="button" class="services__list-item_btn js-popup">записаться</a>
          </article>
        </li>
      </ul>
    </section>
    <section id="videos" class="block block--pattern videos">
      <h3 class="block__title videos__title">Посмотрите видео о том, как мы работаем</h3>
      <nav role="list" class="videos__list"><a href="https://www.youtube.com/watch?v=mk-Yw1kYrZY" role="listitem" class="videos__list-item js-video"><img src="img/video-1.jpg" alt="Видео - ботокс для волос" class="videos__list-item_img"><i class="icon icon-play"></i><strong class="videos__list-item_title">Ботокс для волос</strong></a><a href="https://www.youtube.com/watch?v=Y4qp8UwVw_4" role="listitem" class="videos__list-item js-video"><img src="img/video-2.jpg" alt="Видео - премиальное окрашивание" class="videos__list-item_img"><i class="icon icon-play"></i><strong class="videos__list-item_title">Премиальное окрашивание</strong></a></nav>
      <p class="videos__more">больше видео смотрите на нашем ютуб-канале<a href="https://www.youtube.com/channel/UCWr1WSrIKlJiB2bz2RmGXfA" target="_blank" class="videos__more-link icon icon-youtube"></a></p>
    </section>
    <section id="clients" class="block clients">
      <h3 class="block__title clients__title">Почитайте отзывы тех, кто уже обратился к нам</h3>
      <div class="clients__list glide js-clients-slider">
        <div class="glide__wrapper">
          <ul class="glide__track">
            <li class="glide__slide clients__slide">
              <div class="clients__list-item"><img src="img/client-1.png" alt="Отзыв" class="clients__list-item_img">
                <article class="clients__list-item_content">
                  <h4 class="clients__list-item_name">Akniria</h4>
                  <blockquote class="clients__list-item_text">“Уже 10лет хожу на педикюр <br>к Татьяне! Не сравнить с <br>другими мастерами! <br>Последние три года езжу <br>к ней из пригорода, потому <br>как лучше мастера <br>для меня нет”</blockquote>
                </article>
              </div>
              <div class="clients__list-item"><img src="img/client-2.png" alt="Отзыв" class="clients__list-item_img">
                <article class="clients__list-item_content">
                  <h4 class="clients__list-item_name">Виктория</h4>
                  <blockquote class="clients__list-item_text">“Очень качественный <br>салон! Мастера <br>профессионалы своего дела, <br>особенно нравится <br>мастер маникюра и <br>педикюра Оксана и <br>косметолог Наталья!”</blockquote>
                </article>
              </div>
              <div class="clients__list-item"><img src="img/client-3.png" alt="Отзыв" class="clients__list-item_img">
                <article class="clients__list-item_content">
                  <h4 class="clients__list-item_name">Александра</h4>
                  <blockquote class="clients__list-item_text">“Наташа и Стас – мастера <br>с юмором, 3 часа <br>пролетели весело <br>и быстро!!!”</blockquote>
                </article>
              </div>
            </li>
            <li class="glide__slide clients__slide">
              <div class="clients__list-item"><img src="img/client-4.png" alt="Отзыв" class="clients__list-item_img">
                <article class="clients__list-item_content">
                  <h4 class="clients__list-item_name">Алина</h4>
                  <blockquote class="clients__list-item_text">“Конфетки вкусные, <br>кофе не очень, <br>Сережа просто <br>гений окраски”</blockquote>
                </article>
              </div>
              <div class="clients__list-item"><img src="img/client-5.png" alt="Отзыв" class="clients__list-item_img">
                <article class="clients__list-item_content">
                  <h4 class="clients__list-item_name">Daneel</h4>
                  <blockquote class="clients__list-item_text">“Пока случайно не <br>попал к Косте, не <br>верил что такое бывает. <br>Массажист от бога !”</blockquote>
                </article>
              </div>
            </li>
          </ul>
        </div>
        <div class="glide__bullets"></div>
      </div>
    </section>
    <div id="team" class="block block--pattern team">
      <h3 class="block__title team__title">У нас работают только <br>профессионалы своего дела!</h3>
      <ul class="team__list">
        <li class="team__list-member"><img src="img/team-1.png" alt="Смирнов Стас" class="team__list-member_img">
          <h5 class="team__list-member_name">Смирнов Стас</h5>
          <p class="team__list-member_text">стилист Wella - мастер <br>цвета, прически, стрижки и <br>укладки </p>
        </li>
        <li class="team__list-member"><img src="img/team-2.png" alt="Стальченко Кристина" class="team__list-member_img">
          <h5 class="team__list-member_name">Стальченко Кристина </h5>
          <p class="team__list-member_text">Wella Podium <br>Master - стрижки, <br>окрашивания</p>
        </li>
        <li class="team__list-member"><img src="img/team-3.png" alt="Бережной Евгений" class="team__list-member_img">
          <h5 class="team__list-member_name">Бережной Евгений</h5>
          <p class="team__list-member_text">Wella Podium <br>Master - прически, <br>локоны, окрашивания </p>
        </li>
        <li class="team__list-member"><img src="img/team-4.png" alt="Белоусова Наталья" class="team__list-member_img">
          <h5 class="team__list-member_name">Белоусова Наталья</h5>
          <p class="team__list-member_text">косметолог-эстетист <br>4-го разряда </p>
        </li>
        <li class="team__list-member"><img src="img/team-5.png" alt="Николаева Наталья" class="team__list-member_img">
          <h5 class="team__list-member_name">Николаева Наталья</h5>
          <p class="team__list-member_text">Wella Мастер цвета, <br>консультант по <br>лечению волос </p>
        </li>
        <li class="team__list-member"><img src="img/team-6.png" alt="Собанчиева Оксана" class="team__list-member_img">
          <h5 class="team__list-member_name">Сабанчиева Оксана</h5>
          <p class="team__list-member_text">сертифицированный <br>специалист ногтевого <br>сервиса Оле Хаус</p>
        </li>
      </ul>
      <p class="team__text">Три вещи никогда не возвращаются обратно - время, возможность и слово. Поэтому... <br>Не теряйте времени, не упускайте возможность, все будет хорошо... Даем слово!</p><a href="#salon" class="team__btn btn js-popup">Записаться в салон</a>
    </div>
    <div id="director" class="block director">
      <h3 class="block__title director__title">Лично от руководителя <br>салона красоты "Ренессанс"</h3>
      <div class="director__block"><img src="img/team-director.png" alt="Директор салона красоты 'Ренессанс'" class="director__block-photo">
        <div class="director__block-text">
          <blockquote class="director__block-text_cite">Наше кредо: клиент не должен потратить много, <br>он должен приходить часто. <br>С предложениями и претензиями Вы можете <br>обратиться напрямую  ко мне, буду рад оказаться <br>полезным для Вас</blockquote>
          <p class="director__block-text_phone">Контактный телефон: <a href="tel:89117323978" class="director__block-text_link">8 (911) 732 39 78</a></p>
          <p class="director__block-text_name">Алексеев Василий</p>
        </div>
      </div>
    </div>
    <div id="contacts" class="contacts">
      <div id="contacts-map" class="contacts__map"></div>
      <div class="contacts__content">
        <div class="contacts__inner">
          <h3 class="contacts__title">Ждем вас в гости!<span class="contacts__title-text">как нас найти:</span></h3>
          <address class="contacts__address"><i class="icon icon-location"></i>г. Санкт-Петербург, Коломяжский пр-т, 26</address>
          <nav class="contacts__links"><a href="tel:89697062878" class="contacts__links-phone"><i class="icon icon-phone"></i>8 (969) 706-28-78</a><a href="mailto:inforsalon@yandex.ru" class="contacts__links-email"><i class="icon icon-email"></i>inforsalon@yandex.ru</a></nav>
          <div class="contacts__socials">
            <p class="contacts__socials-text">Следите за нами в социальных сетях:</p>
            <nav class="contacts__socials-links"><a href="http://vk.com/rsalon" target="_blank" class="contacts__socials-item contacts__socials-vk"></a><a href="https://www.instagram.com/renaissance_podium_salon_spb/" target="_blank" class="contacts__socials-item contacts__socials-instagram"></a></nav>
          </div>
        </div>
      </div>
    </div>
    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="//api-maps.yandex.ru/2.0-stable/?load=package.standard&amp;amp;lang=ru-RU" defer></script>
    <script src="js/bundle.min.js"></script>
    <script>
      (function (d, w, c) { 
      (w[c] = w[c] || []).push(function() { 
      try { 
      w.yaCounter41764544 = new Ya.Metrika({ 
      id:41764544, 
      clickmap:true, 
      trackLinks:true, 
      accurateTrackBounce:true, 
      webvisor:true 
      }); 
      } catch(e) { } 
      }); 
      
      var n = d.getElementsByTagName("script")[0], 
      s = d.createElement("script"), 
      f = function () { n.parentNode.insertBefore(s, n); }; 
      s.type = "text/javascript"; 
      s.async = true; 
      s.src = "https://mc.yandex.ru/metrika/watch.js"; 
      
      if (w.opera == "[object Opera]") { 
      d.addEventListener("DOMContentLoaded", f, false); 
      } else { f(); } 
      })(document, window, "yandex_metrika_callbacks");
    </script>
  </body>
</html>
